<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <PostgresConnectionString>Server=localhost;Port=5432;User Id=postgres;Password=root;</PostgresConnectionString>
      <SqlServerConnectionString>Data Source=(localdb)\MSSQLLocalDB;</SqlServerConnectionString>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>