<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
    <RunConfiguration>
        <EnvironmentVariables>
            <CHANGEDB_WRITE_MODE>true</CHANGEDB_WRITE_MODE>
            <CHANGEDB_TESTCASES_FOLDER>../../../testcases</CHANGEDB_TESTCASES_FOLDER>
        </EnvironmentVariables>
    </RunConfiguration>
</RunSettings>