name: basic
on:
  push:
    branches:
      - "*"
      - "!master"
    tags-ignore:
      - "*"  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: 01 Checkout Code
      uses: actions/checkout@v2
    - name: 02 Setup .Net SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: | 
          5.0.100
          6.0.100
    - name: 03 Build with dotnet
      run: dotnet build

